#card-list-tab-business-case {

    .click {
        color: #4e73df;
        cursor: pointer;
        text-decoration: none;
        font-weight: 700;
    }

    .click:hover {
        color: #224abe;
        text-decoration: underline;
    }

    .click:visited {
        color: #3f51b5;
    }

    .click:link {
        color: #1a0dab;
    }

    .second-button {
        padding: 10px 15px;

        ::ng-deep .mat-raised-button {
            margin-right: 0 !important;
            width: 125px;
        }
    }

    .flexbox {
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        overflow: auto;

        .row {
            display: inline-flex;
            // width: 100%;
            min-width: -webkit-fill-available;
        }

        .card-row {
            background: #f5f6f8;
            border-radius: 10px;
            margin: 10px 0;
            // width: max-content;
        }

        .header {
            font-size: 0.95rem;
            text-align: center;
            font-weight: bold;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .cell {
            padding: 10px;
            flex-direction: column;
            box-sizing: border-box;
            display: flex;
            place-content: center;
            align-items: center;
        }

        .cell1 {
            width: 7%;
            min-width: 79px;
        }

        .cell2 {
            width: 15%;
            min-width: 130px;
        }

        .cell3 {
            width: 15%;
            min-width: 130px;
        }

        .cell4 {
            width: 15%;
            min-width: 130px;
        }

        .cell5 {
            width: 15%;
            min-width: 130px;
        }

        .cell6 {
            width: 13%;
            min-width: 120px;
        }

        .cell7 {
            width: 13%;
            min-width: 130px;
        }

        .cell8 {
            width: 7%;
            min-width: 79px;
        }
    }

    .button-table {
        height: 40px;
        width: 40px;

        .mat-icon-grey {
            color: white;
            font-size: 20px !important;
            line-height: 25px !important;
            width: auto;
            height: auto;
        }
    }

    .reveq-webkit {
        white-space: normal;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .type-webkit {
        white-space: normal;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    ::ng-deep .mat-form-field-wrapper {
        padding-bottom: 0 !important;
    }

    .statut ::ng-deep .mat-standard-chip {
        border-radius: 5px;
        // min-height: 32px;
        // font-size: 12px;
        font-weight: bold;
        width: 105px;
        justify-content: center;
        min-height: 25px;
        // font-size: 12px;
    }

    .statutEnAttente {
        background-color: var(--statut-EnAttente-BC-color);
        color: white;
    }

    .statutRealise {
        background-color: var(--statut-Realise-BC-color);
        color: white;
    }

    .statutRefuse {
        background-color: var(--statut-Refuse-BC-color);
        color: white;
    }

    .statutValide {
        background-color: var(--statut-Valide-BC-color);
        color: white;
    }

    @media screen and (max-width: 845px) {
        .second-grid-checkbox {
            max-width: none;
        }
    }


}