<mat-card id="mat-card-list-parametrage">
    <div class="div-parametrage" fxLayout="row wrap" fxLayoutAlign="center space-evenly">
        <button class="button-parametrage" fxFlex.gt-sm="330px" fxFlex.gt-xs="330px" fxFlex="100" fxFlex.gt-md="330px"
            [routerLink]="['/parametrage/etablissement/']" routerLinkActive="active-link" mat-button mat-raised-button
            type="button" color="primary">Types établissement</button>
        <button class="button-parametrage" fxFlex.gt-sm="330px" fxFlex.gt-xs="330px" fxFlex="100" fxFlex.gt-md="330px"
            [routerLink]="['/parametrage/feedback/']" routerLinkActive="active-link" mat-button mat-raised-button
            type="button" color="primary">Feedback</button>
        <button class="button-parametrage" fxFlex.gt-sm="330px" fxFlex.gt-xs="330px" fxFlex="100" fxFlex.gt-md="330px"
            [routerLink]="['/parametrage/produits/']" routerLinkActive="active-link" mat-button mat-raised-button
            type="button" color="primary">Produits</button>
    </div>
</mat-card>