<div id="card-list-tab-note">
    <div class="mrgn-all-md" fxLayoutAlign="end center">
        <button mat-raised-button color="primary" class="mrgn-t-xs" (click)="openDialogAjouterNote()">
            <mat-icon>add </mat-icon>
            Ajouter une nouvelle note
        </button>
    </div>
    <div class="flexbox full-wid">
        <div class="row">
            <div class="cell1 header">
                Utilisateur
            </div>
            <div class="cell2 header">
                Date note
            </div>
            <div class="cell3 header">
                Commentaire
            </div>
            <div class="cell4 header">
            </div>
        </div>
        <div class="row card-row" *ngFor="let item of listeNotes">
            <div class="cell1 cell">
                <h5 class="margin-none reveq-webkit text-center" [title]="item.nom_utilisateur || '-'">
                    {{item.nom_utilisateur || '-'}}</h5>
            </div>
            <div class="cell2 cell">
                <h5 class="margin-none reveq-webkit text-center">{{item.date_creation | date:'dd/MM/yyyy'}}
                </h5>
            </div>
            <div class="cell3 cell">
                <a class="click reveq-webkit" (click)="openDialogNote(item.commentaire)">
                    <h5 class="margin-none reveq-webkit text-center" [title]="item.commentaire || '-'">
                        {{item.commentaire || '-'}}</h5>
                </a>
            </div>
            <div class="cell4 cell">
                <div fxLayout="row" fxLayoutAlign="center">
                    <button mat-mini-fab mat-icon-button color="primary" class="margin-none button-table" 
                    title="Supprimer" [disabled]="userItem.role != 'ADMI' && userItem.id_utilisateur != item.id_utilisateur"
                    (click)="actionSupprimer(item.id_note)">
                        <mat-icon class="mat-icon-grey gene-text-lg">
                            delete
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <p *ngIf="listeNotes?.length == 0 && !isLoading">
            Aucun résultat trouvé .
        </p>
    </div>

    <div *ngIf="isLoading" fxLayoutAlign="center center" class="mrgn-all-lg">
        <mat-progress-spinner color="primary" strokeWidth="5" mode="indeterminate">
        </mat-progress-spinner>
    </div>
    <div>
        <mat-divider></mat-divider>
        <mat-paginator [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 15, 20]" [length]="totalNotes"
            (page)="getNextPage($event)" showFirstLastButtons></mat-paginator>
    </div>
</div>