mat-table {
    width: 100%;
  }

  .roles{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 23px;
    mat-checkbox{
      margin-left: 10px;
    }
  }
.loading{
  width: 100%;
    height: calc(100vh - 250px);
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.mat-icon{
  font-size: 18px !important;
  cursor: pointer !important;
  width: 0px !important;
}

.flex-devide{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}