<div class="dialog-title">
    <h2 mat-dialog-title> Fiche investissement </h2>
    <button (click)="dialogRef.close()" mat-icon-button class="btn-close">
        <mat-icon>close</mat-icon>
    </button>
</div>
<form *ngIf="!isLoading"  fxLayout="column" class="gene-form-wizard">
    <div fxLayout="row wrap" [fxLayoutAlign]="'star'" [fxLayoutGap]="'3%'" style="margin-right: -3%;">
        <mat-form-field appearance="outline" fxFlex.gt-sm="47" fxFlex.gt-xs="47" fxFlex="100" fxFlex.gt-md="47">
            <mat-label>Nom compte </mat-label>
            <input matInput type="text" readonly [value]="business_case.nom_partenaire || '-'">
        </mat-form-field>

        <mat-chip-list class="statut" fxFlex.gt-sm="47" fxFlex.gt-xs="47" fxFlex="100" fxFlex.gt-md="47">
            <mat-chip *ngIf="business_case.code_statut_bc == 'ENAT'" class="statutEnAttente"> En attente
            </mat-chip>
            <mat-chip *ngIf="business_case.code_statut_bc == 'REAL'" class="statutRealise"> Réalisé </mat-chip>
            <mat-chip *ngIf="business_case.code_statut_bc == 'REJE'" class="statutRefuse"> Rejeté </mat-chip>
            <mat-chip *ngIf="business_case.code_statut_bc == 'VALI'" class="statutValide"> Validé </mat-chip>
        </mat-chip-list>

        <mat-form-field appearance="outline" fxFlex.gt-sm="47" fxFlex.gt-xs="47" fxFlex="100" fxFlex.gt-md="47">
            <mat-label>Type investissement </mat-label>
            <input matInput type="text" readonly [value]="business_case.type_investissement || '-'">
        </mat-form-field>

        <div fxFlex.gt-sm="47" fxFlex.gt-xs="47" fxFlex="100" fxFlex.gt-md="47">
            <mat-form-field appearance="outline" *ngIf="business_case.code_type_investissement == 'IN0003'"
                fxFlex="100">
                <mat-label>Destination </mat-label>
                <input matInput type="text" readonly [value]="business_case.destination || '-'">
            </mat-form-field>

            <mat-form-field appearance="outline" *ngIf="business_case.code_type_investissement == 'IN0002'"
                fxFlex="100" >
                <mat-label>Montant </mat-label>
                <input matInput type="text" mask="0*" maxlength="10" readonly [value]="business_case.budget || '-'">
            </mat-form-field>

            <mat-form-field appearance="outline" *ngIf="business_case.code_type_investissement == 'IN0001'"
                fxFlex="100">
                <mat-label>Material </mat-label>
                <input matInput type="text" readonly [value]="business_case.objet_investissement || '-'">
            </mat-form-field>
        </div>

        <mat-form-field appearance="outline" fxFlex.gt-sm="47" fxFlex.gt-xs="47" fxFlex="100" fxFlex.gt-md="47"
            *ngIf="business_case.code_type_investissement == 'IN0002'">
            <mat-label>Nom bénéficiaire</mat-label>
            <input matInput type="text" readonly [value]="business_case.nom_beneficiaire || '-'">
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex.gt-sm="47" fxFlex.gt-xs="47" fxFlex="100" fxFlex.gt-md="47"
            *ngIf="business_case.code_type_investissement == 'IN0002'">
            <mat-label>RIB bénéficiaire</mat-label>
            <input matInput type="tel" mask="0*" maxlength="24" readonly [value]="business_case.rib_beneficiaire || '-'">
        </mat-form-field>

        <mat-form-field id="description" appearance="outline" fxFlex.gt-sm="47" fxFlex.gt-xs="47" fxFlex="100"
            fxFlex.gt-md="47">
            <mat-label>Commentaire </mat-label>
            <textarea matInput readonly type="text" maxlength="500" [value]="business_case.description || '-'"
                style="resize: none; height: 170px;" rows="10" cols="50">
            </textarea>
        </mat-form-field>
        <div fxLayout="column" [fxLayoutAlign]="'star'" fxFlex.gt-sm="47" fxFlex.gt-xs="47" fxFlex="100"
            fxFlex.gt-md="47">
            <div class="photoFile" *ngIf="selectedFiles?.inProgress">
                <div class="icon_drive_file">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#000000">
                        <path d="M0 0h24v24H0z" fill="none" />
                        <path
                            d="M6 2c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6H6zm7 7V3.5L18.5 9H13z" />
                    </svg>
                    <span class="extension">{{extensionFile}}</span>
                </div>
                <a class="click text-center" href="{{imgUpload}}" target="_blank">{{nameFile}}</a>
            </div>
        </div>
    </div>
</form>
<div *ngIf="isLoading" fxLayoutAlign="center center" class="mrgn-all-lg">
    <mat-progress-spinner color="primary" strokeWidth="5" mode="indeterminate">
    </mat-progress-spinner>
</div>