<mat-card id="mat-card-list-parametrage">
    <div class="div-parametrage" fxLayout="row wrap" fxLayoutAlign="center space-evenly">
        <button class="button-parametrage" fxFlex.gt-sm="330px" fxFlex.gt-xs="330px" fxFlex="100" fxFlex.gt-md="330px"
            [routerLink]="['/administration/gammes-specialites/']" routerLinkActive="active-link" mat-button
            mat-raised-button type="button" color="primary">Gammes/Spécialités</button>
        <button class="button-parametrage" fxFlex.gt-sm="330px" fxFlex.gt-xs="330px" fxFlex="100" fxFlex.gt-md="330px"
            [routerLink]="['/administration/regions-villes-secteurs/']" routerLinkActive="active-link" mat-button mat-raised-button
            type="button" color="primary">Régions/Villes/Secteurs</button>
    </div>
</mat-card>