.dialog-title {
    position: relative;
  }
  
  .btn-close {
    outline: none;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn-close:hover {
    color: var(--princ-adr-color);
  }
  

  #commentaire {
    ::ng-deep .mat-form-field-flex {
        align-items: start !important;
        height: auto;

        .mat-form-field-prefix {
            top: 20px !important;
        }
    }
}