#mat-card-list-rapport {
    .matchip-tab {
        width: 65px;
        justify-content: center;
    }

    .click {
        color: #4e73df;
        cursor: pointer;
        text-decoration: none;
        font-weight: 700;
    }

    .click:hover {
        color: #224abe;
        text-decoration: underline;
    }

    .click:visited {
        color: #3f51b5;
    }

    .click:link {
        color: #1a0dab;
    }

    .second-grid-checkbox {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(170px, 250px));
        grid-column-gap: 25px;
        grid-row-gap: 20px;
        align-items: flex-end;
        justify-content: center;
        padding: 10px 15px;
        max-width: 830px;
    }

    .second-button {
        padding: 10px 15px;

        ::ng-deep .mat-raised-button {
            margin-right: 0 !important;
            width: 125px;
        }
    }

    .filter-dash {
        // padding: 0px 15px 15px 15px;
        display: grid;
        grid-template-columns: auto 150px;
        // align-items: center;
        // justify-content: flex-start;
        grid-column-gap: 10px;
        // padding: 10px 15px;
    }

    .flexbox {
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        overflow: auto;

        .row {
            display: inline-flex;
            // width: 100%;
            min-width: -webkit-fill-available;
        }

        .card-row {
            background: #f5f6f8;
            border-radius: 10px;
            margin: 10px 0;
            // width: max-content;
        }

        .header {
            font-size: 0.95rem;
            text-align: center;
            font-weight: bold;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .cell {
            padding: 10px;
            flex-direction: column;
            box-sizing: border-box;
            display: flex;
            place-content: center;
            align-items: center;
        }

        .cell1 {
            width: 8%;
            min-width: 100px;
        }
        .cell2 {
            width: 8%;
            min-width: 100px;
        }
        .cell3 {
            width: 21%;
            min-width: 200px;
        }

        .cell4 {
            width: 17%;
            min-width: 200px;
        }

        .cell5 {
            width: 25%;
            min-width: 200px;
        }

        .cell6 {
            width: 20%;
            min-width: 200px;
        }

        .cell7 {
            width: 20%;
            min-width: 200px;
        }
    }

    .button-table {
        height: 40px;
        width: 40px;

        .mat-icon-grey {
            color: white;
            font-size: 20px !important;
            line-height: 25px !important;
            width: auto;
            height: auto;
        }
    }

    .reveq-webkit {
        white-space: normal;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .type-webkit {
        white-space: normal;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    ::ng-deep .mat-form-field-wrapper {
        padding-bottom: 0 !important;
    }

    .statut ::ng-deep .mat-standard-chip {
        border-radius: 5px;
        // min-height: 32px;
        // font-size: 12px;
        font-weight: bold;
        width: 105px;
        justify-content: center;
        min-height: 25px;
        // font-size: 12px;
    }

    .statutEnAttente {
        background-color: var(--statut-EnAttente-color);
        color: white;
    }

    .statutRealisee {
        background-color: var(--statut-Realisee-color);
        color: white;
    }

    .statutAbsent {
        background-color: var(--statut-Absent-color);
        color: white;
    }

    .statutReplanifiee {
        background-color: var(--statut-Replanifiee-color);
        color: white;
    }

    @media screen and (max-width: 845px) {
        .second-grid-checkbox {
            max-width: none;
        }
    }

    .table-responsive,
    table.full-wid.mat-table {
        transform: rotateX(180deg);
    }

    .form-field {
        width: 300px
    }
}