<div fxLayout="column">
    <mat-card id="mat-card-list-planification">
        <div fxLayoutAlign="space-evenly center" class="second-button">
            <h4 fxLayoutAlign="start center" class="margin-none mrgn-r-sm ">
                Semaine de planification
            </h4>
            <mat-form-field appearance="outline" style="width: 300px;">
                <mat-label>Semaine </mat-label>
                <input matInput type="text" value="Du {{sem_actuelle?.date_debut | date:'dd/MM/yyyy'}} au {{sem_actuelle?.date_fin | date:'dd/MM/yyyy'}} ({{sem_actuelle?.num_semaine}})" readonly>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Tous les jours</mat-label>
                <mat-select [formControl]="dateVisiteGlobalControl">
                    <mat-option [value]="null">--</mat-option>
                    <mat-option *ngFor="let item of listeDatesSemaine" [value]="item">
                        {{item | date:'dd/MM/yyyy'}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <span class="circle_contain mrgn-l-sm">
                <span *ngIf="userItem.flag_medical == 'O'">{{nbr_med_planifies}} M </span>
                <span *ngIf="userItem.flag_pharmaceutique == 'O'">{{nbr_phrama_planifiees}} P </span>
            </span>
        </div>
    </mat-card>
    <mat-card id="mat-card-list-planification">
        <h4 fxLayoutAlign="start center">
            <mat-icon>filter_alt
            </mat-icon>
            Filtrer
        </h4>
        <form [formGroup]="form" class="filter-dash">
            <div fxLayoutAlign="center">
                <section class="example-section second-grid-checkbox ">
                    <mat-form-field appearance="outline">
                        <mat-label>Référence </mat-label>
                        <input matInput type="text" formControlName="id_partenaire" (keyup)="onKeyupRefNom()">
                    </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label>Nom compte </mat-label>
                        <input matInput type="text" formControlName="nom_partenaire" (keyup)="onKeyupRefNom()">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Type compte</mat-label>
                        <mat-select (openedChange)="onChangeTypePartenaire()" formControlName="type_partenaire">
                            <mat-option [value]="null">--</mat-option>
                            <mat-option [value]="'PHAR'"> Pharmacie </mat-option>
                            <mat-option [value]="'MEDE'"> Médecin </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Spécialité</mat-label>
                        <mat-select formControlName="code_specialite" multiple>
                            <mat-option *ngFor="let item of listeSpecialites" [value]="item.code_codification">
                                {{item.libelle_codification}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Potentiel</mat-label>
                        <mat-select formControlName="potentiel" multiple>
                            <mat-option [value]="'A+'"> A+ </mat-option>
                            <mat-option [value]="'A'"> A </mat-option>
                            <mat-option [value]="'B'"> B </mat-option>
                            <mat-option [value]="'C'"> C </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <ms-select-autocomplete-code ngDefaultControl [formControl]="form.controls.code_region"
                        [flag_obligatoire]="'O'"  
                        [isRequiredOptional]="true" [smartList]="listeRevis" nomInput="Région"
                        (optionSelected)="selectVille($event)">
                    </ms-select-autocomplete-code>
                    <ms-select-autocomplete-code ngDefaultControl [formControl]="form.controls.code_ville"
                        [flag_obligatoire]="'O'"  
                        [smartList]="listeVilles" nomInput="Ville" [isRequiredOptional]="true"
                        (optionSelected)="selectSecteur($event)" [disabled]="form.value.code_region ? false : true">
                    </ms-select-autocomplete-code>
                    <ms-select-autocomplete-code ngDefaultControl [formControl]="form.controls.code_secteur"
                        [smartList]="listeSecteurs" nomInput="Secteur"
                        [disabled]="form.value.code_ville ? false : true">
                    </ms-select-autocomplete-code>
                </section>
            </div>
            <div class="second-button" fxLayout="column" fxLayoutAlign="end center">
                <button class="mrgn-b-sm " mat-button mat-raised-button type="button" color="Default" (click)="reset()">
                    Réinitialiser </button>
                <button [disabled]="!isSearchable()" mat-button mat-raised-button (click)="filtrer()" type="submit"
                    color="primary">Rechercher</button>
            </div>
        </form>
    </mat-card>
    <div fxLayout="row wrap">
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
            <mat-card id="mat-card-list-planification">
                <h3 fxLayoutAlign="start center">
                    Résultat de recherche
                </h3>
                <div class="flexbox full-wid">
                    <div class="row">
                        <div class="cell0 header">
                            Fiche
                        </div>
                        <div class="cell1 header">
                            <!-- Type -->
                        </div>
                        <div class="cell2 header">
                            Compte
                        </div>
                        <div class="cell3 header">
                            Potentiel
                        </div>
                        <div class="cell4 header">
                            Dernière visite
                        </div>
                        <div class="cell5 header">
                            Planification
                        </div>
                        <div class="cell6 header">

                        </div>
                    </div>
                    <div class="row card-row" *ngFor="let item of listePlanificationPartenaire">
                        <div class="cell0 cell">
                            <div fxLayout="row" fxLayoutAlign="center">
                                <button mat-mini-fab mat-icon-button class="margin-none button-table" title="Fiche"
                                    [routerLink]="['/partenaires/fiche/'+item.id_partenaire]"
                                    routerLinkActive="active-link" color="primary">
                                    <mat-icon class="mat-icon-grey gene-text-lg">
                                        visibility
                                    </mat-icon>
                                </button>
                            </div>
                        </div>
                        <div class="cell1 cell">
                            <span class="type_partenaire_svg">
                                <mat-icon class="pharmacie" *ngIf="item.code_type_partenaire == 'PHAR'"
                                    svgIcon="pharmacie">
                                </mat-icon>
                                <mat-icon class="medecin" *ngIf="item.code_type_partenaire == 'MEDE'" svgIcon="medecin">
                                </mat-icon>
                            </span>
                            {{ (item.code_type_partenaire == 'MEDE' ? 'M' : 'P') + item.id_partenaire || '-'}}
                        </div>
                        <div class="cell2 cell">
                            <h5 class="margin-none text-center type-webkit" [title]="item.nom_partenaire || '-'">
                                {{item.nom_partenaire || '-'}}</h5>
                            <h5 class="medecin margin-none mrgn-t-xs text-center reveq-webkit"
                                [title]="item.specialite_partenaire || '-'">
                                {{item.specialite_partenaire || '-'}} </h5>
                        </div>
                        <div class="cell3 cell">
                            <span class="potentiel margin-none text-center"
                                [ngStyle]="{'border':item.potentiel ?'1px solid':'',
                                            'color': item.potentiel == 'A'?'#13be00': item.potentiel == 'B'? '#e5ce00':item.potentiel == 'C'? '#e10000':''}">
                                {{item.potentiel || '-'}}
                            </span>
                        </div>
                        <div class="cell4 cell">
                            <h5 class="margin-none text-center">{{(item.date_derniere_visite | date:'dd/MM/yyyy HH:mm')||
                                '-'}}</h5>
                        </div>
                        <div class="cell5 cell">
                            <mat-form-field *ngIf="!dateVisiteGlobalControl.value" appearance="outline" style="width: 140px;">
                                <!-- <mat-label>Date </mat-label> -->
                                <mat-select placeholder="Choisir date" [(ngModel)]="item.date_visite">
                                    <mat-option *ngFor="let item of listeDatesSemaine" [value]="item">
                                        {{item | date:'dd/MM/yyyy'}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline" style="width: 140px;">
                                <!-- <mat-label>Choisir heure</mat-label> -->
                                <mat-select placeholder="Choisir heure" [(ngModel)]="item.heure_visite">
                                    <mat-option *ngFor="let hour of listHours" [value]="hour">
                                    {{hour}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="cell6 cell">
                            <div fxLayout="row" fxLayoutAlign="center">
                                <button mat-mini-fab mat-icon-button [disabled]="userItem.role == 'ADMI'"
                                    class="margin-none button-table button-add" title="Ajouter"
                                    (click)="ajouterPartenairePlanifiee(item)">
                                    <mat-icon class="mat-icon-grey gene-text-lg">
                                        add
                                    </mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                    <p *ngIf="listePlanificationPartenaire?.length == 0 && !isLoading">
                        Aucun résultat trouvé .
                    </p>
                </div>

                <div *ngIf="isLoading" fxLayoutAlign="center center" class="mrgn-all-lg">
                    <mat-progress-spinner color="primary" strokeWidth="5" mode="indeterminate">
                    </mat-progress-spinner>
                </div>
            </mat-card>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
            <mat-card id="mat-card-list-planification">
                <h3 fxLayoutAlign="start center">
                    Comptes Planifiés
                </h3>
                <div class="flexbox full-wid">
                    <div class="row">
                        <div class="cell0 header">
                            Fiche
                        </div>
                        <div class="cell1 header">
                            <!-- Type -->
                        </div>
                        <div class="cell2 header">
                            Compte
                        </div>
                        <div class="cell3 header">
                            Potentiel
                        </div>
                        <div class="cell4 header">
                            Ville <br>
                            Secteur
                        </div>
                        <div class="cell5 header">
                            Planification <br>
                            Statut
                        </div>
                        <div class="cell6 header">

                        </div>
                    </div>
                    <div class="row card-row" *ngFor="let item of listePlanifiesPartenaire">
                        <div class="cell0 cell">
                            <div fxLayout="row" fxLayoutAlign="center">
                                <button mat-mini-fab mat-icon-button class="margin-none button-table" title="Fiche"
                                    [routerLink]="['/partenaires/fiche/'+item.id_partenaire]"
                                    routerLinkActive="active-link" color="primary">
                                    <mat-icon class="mat-icon-grey gene-text-lg">
                                        visibility
                                    </mat-icon>
                                </button>
                            </div>
                        </div>
                        <div class="cell1 cell">
                            <span class="type_partenaire_svg">
                                <mat-icon class="pharmacie" *ngIf="item.code_type_partenaire == 'PHAR'"
                                    svgIcon="pharmacie">
                                </mat-icon>
                                <mat-icon class="medecin" *ngIf="item.code_type_partenaire == 'MEDE'" svgIcon="medecin">
                                </mat-icon>
                            </span>
                            {{ (item.code_type_partenaire == 'MEDE' ? 'M' : 'P') + item.id_partenaire || '-'}}
                        </div>
                        <div class="cell2 cell">
                            <h5 class="margin-none text-center type-webkit" [title]="item.nom_partenaire || '-'">
                                {{item.nom_partenaire || '-'}}</h5>
                            <h5 class="medecin margin-none mrgn-t-xs text-center reveq-webkit"
                                [title]="item.specialite_partenaire || '-'">
                                {{item.specialite_partenaire || '-'}} </h5>
                        </div>
                        <div class="cell3 cell">
                            <span class="potentiel margin-none text-center"
                                [ngStyle]="{'border':item.potentiel ?'1px solid':'',
                                            'color': item.potentiel == 'A' || item?.code_potentiel == 'A+'?'#13be00': item.potentiel == 'B'? '#e5ce00':item.potentiel == 'C'? '#e10000':''}">
                                {{item.potentiel || '-'}}
                            </span>
                        </div>
                        <div class="cell4 cell">
                            <h5 class="text-center reveq-webkit" [title]="item.ville_partenaire || '-'">
                                {{item.ville_partenaire || '-'}}</h5>
                            <h5 class="margin-none reveq-webkit text-center" [title]="item.secteur_partenaire || '-'">
                                {{item.secteur_partenaire || '-'}}</h5>
                        </div>
                        <div class="cell5 cell">
                            <h5 class="text-center">{{(item.date_visite | date:'dd/MM/yyyy HH:mm')|| '-'}}
                            </h5>
                            <mat-chip-list class="statut">
                                <mat-chip *ngIf="item.code_statut_visite == 'ENAT'" class="statutEnAttente"> En attente
                                </mat-chip>
                                <mat-chip *ngIf="item.code_statut_visite == 'REAL'" class="statutRealisee"> Réalisée
                                </mat-chip>
                                <mat-chip *ngIf="item.code_statut_visite == 'ABSE'" class="statutAbsent"> Absent
                                </mat-chip>
                                <mat-chip *ngIf="item.code_statut_visite == 'REPL'" class="statutReplanifiee">
                                    Replanifiée </mat-chip>
                            </mat-chip-list>
                        </div>
                        <div class="cell6 cell">
                            <div fxLayout="row" fxLayoutAlign="center">
                                <button mat-mini-fab mat-icon-button
                                    [disabled]="userItem.role == 'ADMI' || item.code_statut_visite != 'ENAT'"
                                    class="margin-none button-remove button-table" title="Annuler"
                                    (click)="annulerPartenairePlanifiee(item)">
                                    <mat-icon class="mat-icon-grey gene-text-lg">
                                        remove
                                    </mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                    <p *ngIf="listePlanifiesPartenaire?.length == 0 && !isLoadingPlanifies">
                        Aucun résultat trouvé .
                    </p>
                </div>

                <div *ngIf="isLoadingPlanifies" fxLayoutAlign="center center" class="mrgn-all-lg">
                    <mat-progress-spinner color="primary" strokeWidth="5" mode="indeterminate">
                    </mat-progress-spinner>
                </div>
            </mat-card>
        </div>
    </div>

</div>